In [11]:
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV,train_test_split
from sklearn.metrics import mean_absolute_error ,r2_score
from xgboost import XGBRegressor
import pickle

In [12]:
df=pd.read_csv("df_plain.csv")
df

,Audi,BMW,Bentley,Chevrolet,Datsun,Fiat,Force,Ford,Honda,Hyundai,...,kms_driven,transmission,ownership,manufacture,engine,Seats,Cng,Diesel,Electric,Lpg
0,0,0,0,0,0,0,0,0,0,0,...,86226.0,0,1,6.0,1956.0,5,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,13248.0,1,1,2.0,1330.0,5,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,60343.0,1,1,7.0,2494.0,5,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,26696.0,1,1,5.0,1199.0,5,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,69414.0,0,1,7.0,1199.0,5,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5374,0,1,0,0,0,0,0,0,0,0,...,45000.0,1,1,5.0,2995.0,7,0,1,0,0
5375,0,1,0,0,0,0,0,0,0,0,...,29000.0,1,2,8.0,1968.0,5,0,0,0,0
5376,0,0,0,0,0,0,0,0,0,0,...,90000.0,1,2,10.0,2755.0,5,0,1,0,0
5377,0,1,0,0,0,0,0,0,0,0,...,79000.0,1,3,8.0,2967.0,6,0,1,0,0
5378,0,1,0,0,0,0,0,0,0,0,...,42000.0,1,2,6.0,1991.0,5,0,1,0,0

In [13]:
df.columns

Index(['Audi', 'BMW', 'Bentley', 'Chevrolet', 'Datsun', 'Fiat', 'Force',
       'Ford', 'Honda', 'Hyundai', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land',
       'Lexus', 'MG', 'Mahindra', 'Maruti', 'Maserati', 'Mercedes-Benz',
       'Mini', 'Mitsubishi', 'Nissan', 'Porsche', 'Premier', 'Renault',
       'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'car_prices_in_rupee',
       'kms_driven', 'transmission', 'ownership', 'manufacture', 'engine',
       'Seats', 'Cng', 'Diesel', 'Electric', 'Lpg'],
      dtype='object')

In [14]:
x=df.drop("car_prices_in_rupee",axis=1)
y=df["car_prices_in_rupee"]

In [15]:
x

,Audi,BMW,Bentley,Chevrolet,Datsun,Fiat,Force,Ford,Honda,Hyundai,...,kms_driven,transmission,ownership,manufacture,engine,Seats,Cng,Diesel,Electric,Lpg
0,0,0,0,0,0,0,0,0,0,0,...,86226.0,0,1,6.0,1956.0,5,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,13248.0,1,1,2.0,1330.0,5,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,60343.0,1,1,7.0,2494.0,5,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,26696.0,1,1,5.0,1199.0,5,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,69414.0,0,1,7.0,1199.0,5,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5374,0,1,0,0,0,0,0,0,0,0,...,45000.0,1,1,5.0,2995.0,7,0,1,0,0
5375,0,1,0,0,0,0,0,0,0,0,...,29000.0,1,2,8.0,1968.0,5,0,0,0,0
5376,0,0,0,0,0,0,0,0,0,0,...,90000.0,1,2,10.0,2755.0,5,0,1,0,0
5377,0,1,0,0,0,0,0,0,0,0,...,79000.0,1,3,8.0,2967.0,6,0,1,0,0
5378,0,1,0,0,0,0,0,0,0,0,...,42000.0,1,2,6.0,1991.0,5,0,1,0,0

In [16]:
print(y)

0       1003000.0
1       1283000.0
2       1640000.0
3        777000.0
4        515000.0
          ...
5374    2890000.0
5375    6490000.0
5376    1375000.0
5377    2990000.0
5378    3190000.0
Name: car_prices_in_rupee, Length: 5379, dtype: float64

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y)

# Linear Regression

In [18]:
lr = LinearRegression()
lr.fit(x_train, y_train)
lr_pred = lr.predict(x_test)

In [19]:
mean_absolute_error(lr_pred,y_test)

544220.00402998

In [20]:
r2_score(lr_pred, y_test)

0.3727453726283715

# XGB

In [22]:
xgb=XGBRegressor()
xgb.fit(x_train,y_train)
xgb_pred=xgb.predict(x_test)

In [24]:
mean_absolute_error(xgb_pred,y_test)

295534.3606717588

In [25]:
r2_score(lr_pred, y_test)

0.3727453726283715

# Exporting the model

In [23]:
pickle.dump(xgb, open("xgb_model.sav",'wb'))